.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.pic-div {
  margin-top: 5px;
  align-self: center;
  width:90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic {
  z-index: -1;
  width: 500px;
  height: 500px;
}

.top-text {
  width:50%;
  position: absolute;
  z-index: 1000;
  top: 0;
  font-family: "impact-regular", sans-serif;
  color: white;
  -webkit-text-stroke: 2px black;
  overflow-wrap: break-word; 
}

.bottom-text {
  width:50%;
  position: absolute;
  z-index: 1000;
  top: 85%;
  font-family: "impact-regular", sans-serif;
  color: white;
  -webkit-text-stroke: 2px black;
  text-align:center;
  overflow-wrap: break-word; 
}

.download{
  margin-top: 5px;
  width: 100px;
  align-self: center;
}
