.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: ghostwhite;
}

.pic-div {
  margin-top: 5px;
  align-self: center;
  width:90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic {
  z-index: 0;
  width: 500px;
  height: 500px;
}

.top-text {
  width:50%;
  position: absolute;
  z-index: 1000;
  top: 3%;
  font-family: "impact-regular", sans-serif;
  color: white;
  -webkit-text-stroke: 2px black;
  overflow-wrap: break-word; 
}

.bottom-text {
  width:50%;
  position: absolute;
  z-index: 1000;
  top: 85%;
  font-family: "impact-regular", sans-serif;
  color: white;
  -webkit-text-stroke: 2px black;
  text-align:center;
  overflow-wrap: break-word; 
}

.file {
  width:500px;
}

label {
  margin-left: 3px;
}

#top, #bottom {
  width: 500px;
}

.download {
  width: 150px;
}